body{
	background-color: #009bba;
}

.navegacionBar{
	display:none !important;
}

.contenedorLogo{
	width: 100%;
	text-align: center;
	padding-top: 70px;
}

.contenido{
	background: linear-gradient(135deg, #009bba 0%,#143570 100%);
	color: #fff !important;
}

.formulario{
	margin-top: 45px;
}

.campo{
	width: 80% !important;
    font-size: 14pt !important;
    line-height: 13pt;
    padding: 0px !important;
    font-weight: normal;
    background-color:rgba(255, 255, 255, .05) !important;
    margin-left: 10%;
    margin-bottom: 25px;
    color: #fff !important;
    border-bottom: 1px #fff solid !important;
}

.etiqueta{
	color: #fff !important;
	margin-left: 15px !important;
}

.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
    border-bottom-color: rgba(255,255,255,0) !important;
    box-shadow: none !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
    box-shadow: none !important;
}

.item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: rgba(255,255,255,0) !important;
  box-shadow: none !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.list-md .item-input.input-has-focus:last-child {
  box-shadow: none !important;
}

.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
  border-bottom-color: rgba(255,255,255,0) !important;
  box-shadow: none !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
  border-bottom-color: rgba(255,255,255,0) !important;
  box-shadow: none !important;
}

a[disabled], button[disabled], [ion-button][disabled] {
    cursor: default;
    opacity: 1;
    pointer-events: none;
}

.botonIngreso{
	z-index: 999999999 !important;
	color: #fff !important;
	background: linear-gradient(135deg, #009bba 0%,#143570 100%);
	width: 60%;
	height: 45px;
	margin-left: 20%;
}



