<!-- <ion-header>
    <ion-navbar class="navegacionBar">
        <ion-title>Login</ion-title>
    </ion-navbar>
</ion-header> -->

<ion-content class="contenido">
    <div class="contenedorLogo">
        <img class="imagenCentrada" src="assets/images/logoApp.png">
      </div>

  <form class="formulario" [formGroup]="loginForm">
   <ion-list>

       <ion-item class="campo">
           <ion-label class="etiqueta" floating>Correo Electrónico</ion-label>
           <ion-input type="text" autocomplete="off" name="email" formControlName="email"></ion-input>
       </ion-item>

       <ion-item class="campo">
           <ion-label class="etiqueta" floating>Contraseña</ion-label>
           <ion-input type="password" formControlName="password"></ion-input>
       </ion-item>
   </ion-list>

   <div padding>
     <button class="botonIngreso" ion-button primary block (click)="signin()" [disabled]="!loginForm.valid">Ingresar</button>
   </div>

   <!-- <div padding>
     <button ion-button full clear favorite (click)="createAccount()" [disabled]="!loginForm.valid">
         <ion-icon name="person"></ion-icon>
         Crear nueva cuenta</button>
   </div> -->
  </form>
</ion-content>
