<ion-header>
     <ion-navbar color="secondary">

        <ion-buttons end>
            <button ion-button (click)="saveGroup()">
                <img class="iconoAceptar" src="assets/images/aceptar.png"/>
            </button>
        </ion-buttons>


        <ion-title>Editar Grupo</ion-title>
  </ion-navbar>
</ion-header>




<ion-content class="fondoContenido">
<ion-list class="datosEdicion">
      <ion-item class="campo">
            <ion-label class="etiqueta" floating>Nombre del Incidente</ion-label>
             <ion-input type="text" [(ngModel)]="nameGroup"></ion-input>
        </ion-item>
</ion-list>

    <ion-label class="subtituloFormulario">Usuarios en el incidente</ion-label>

    <ion-list class="listaUsuarioGrupo">
        <ion-item-sliding class="listaUsuarios" *ngFor="let user of usuariosParaMostrar | async">

            <ion-item class="usuarioIncidente" *ngIf="user.$key !== uid">
                <ion-label>{{(user.metadata | async)?.email}}</ion-label>
            </ion-item>
            <ion-item-options class="opcionesEditarIncidente" side="right" *ngIf="user.$key !== uid">
                <button class="botonSlide" danger (click)="deleteUser(user.$key)" ion-button><img class="iconoSlide" src="assets/images/basuraBlanco.png"/></button>
                <button danger *ngIf="(user.type == 2001)" (click)="admin(user.$key)" ion-button color="danger"><ion-icon name="trash"></ion-icon>Admin</button>

              </ion-item-options>

        </ion-item-sliding>
    </ion-list>

    <ion-fab bottom right>
        <button class="botonTransparenteBottom" ion-fab (click)="addUsers()">
            <img class="iconoSlide" src="assets/images/agregar.png"/>
        </button>
    </ion-fab>

</ion-content>
