<ion-header>
  <ion-navbar color="secondary">
      <ion-title>Alta usuario</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="fondoContenido">
 <form class="formulario" [formGroup]="loginForm">
  <ion-list>

      <ion-item class="campo">
          <ion-label class="etiqueta" floating>Correo Electrónico</ion-label>
          <ion-input type="text" autocomplete="off" name="email"formControlName="email"></ion-input>
      </ion-item>

      <ion-item class="campo">
        <ion-label class="etiqueta" floating>Alias</ion-label>
        <ion-input type="text" formControlName="nickname"></ion-input>
    </ion-item>


      <ion-item class="campo">
          <ion-label class="etiqueta" floating>Contraseña</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
  </ion-list>


  <ion-label class="subtituloFormulario">Tipo perfil</ion-label>
     <ion-list radio-group [(ngModel)]="kindUser" formControlName="options">
  <ion-item>
    <ion-label class="radioOpcion">Usuario regular</ion-label>
    <ion-radio class="radioOpcionSelector" value="normal" checked></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label class="radioOpcion">Administrador</ion-label>
    <ion-radio class="radioOpcionSelector" value="admin"></ion-radio>
  </ion-item>

</ion-list>

  <div padding>
    <button class="botonIngreso" ion-button full clear favorite (click)="createAccount()" [disabled]="!loginForm.valid">
        Crear Usuario</button>
  </div>
 </form>



</ion-content>
