<ion-header>
    <ion-navbar color="secondary">
       <ion-buttons left>
           <button ion-button icon-only menuToggle>
               <ion-icon name="menu"></ion-icon>
             </button>
       </ion-buttons>

       <ion-title text-center>Grupos</ion-title>

       <ion-buttons right *ngIf="(kindUser == 2001)">
           <button ion-button  [navPush]="createGroupPage">
               <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
           </button>
       </ion-buttons>

       <ion-buttons right>
           <button ion-button  [navPush]="searchPage">
               <ion-icon name="search"></ion-icon>
           </button>
       </ion-buttons>
      
    </ion-navbar>

</ion-header>


<ion-content class="fondoContenido">
    <ion-label class="subtituloSeccion">Mis Grupos</ion-label>
    <ion-list>
     <ion-item-sliding class="listaUsuarios"  *ngFor="let group of groups | async" >
        <ion-item class="enlaceGrupo" (click)="openGroup(group)">
            <ion-avatar item-left>
                <img src="assets/images/grupo.png"/>
        </ion-avatar>

         <h2 class="nombreGrupo">{{(group.metadata | async)?.name}}</h2>
         <h2 class="ultimoMensaje">{{(group.metadata | async)?.lastMessage}}</h2>
        </ion-item>

        <ion-item-options class="opcionesEditarGrupos" *ngIf="(kindUser == 2001)" side="right">
            <!-- <button danger (click)="dragAndDrop()" ion-button><ion-icon name="trash"></ion-icon> Delete</button> -->
            <button class="botonSlide" danger  ion-button (click)="editar(group)"><img class="iconoSlide" src="assets/images/editar.png"/></button>
            <button class="botonSlide" danger  ion-button (click)="eliminar(group)"><img class="iconoSlide" src="assets/images/basura.png"/></button>
        </ion-item-options>


     </ion-item-sliding>

    </ion-list>
</ion-content>


