


<ion-header>
  <ion-navbar color="secondary">

     <ion-buttons end *ngIf="(kindUser == 2001)">
         <button ion-button (click)="createIssuePage()">
             <img class="iconoAceptar" src="assets/images/agregarItem.png"/>
         </button>
     </ion-buttons>


     <ion-title>Incidentes</ion-title>
</ion-navbar>
</ion-header>


<ion-content class="fondoContenido">

<ion-label class="subtituloSeccion" padding >Incidentes en el grupo</ion-label>

<ion-list>
    <ion-item-sliding  *ngFor="let group of groupIssues | async">
        <ion-item class="enlaceGrupo" (click)="openChat(group.$key)" *ngIf="(group.metadata | async)?.status">
            <ion-avatar item-left>
                <img src="assets/images/incidente.png">
            </ion-avatar>
            <h2 class="nombreGrupo">{{(group.metadata | async)?.name}}</h2>
            <h5 class="ultimoMensajeBlanco">{{(group.metadata | async)?.lastMessage}}</h5>
        </ion-item>
        <ion-item-options class="opcionesEditarInc" side="right"  *ngIf="(kindUser == 2001 || kindUser == 2000)">
            
            <button class="botonSlideInc" danger  ion-button (click)="editIncidente(group.$key)"><img class="iconoSlide" src="assets/images/editar.png"/></button>
            <button class="botonSlideInc" danger  ion-button (click)="turnOff(group.$key)"><img class="iconoSlide" src="assets/images/basura.png"/></button>
            
        </ion-item-options>
    </ion-item-sliding>
</ion-list>


</ion-content>
