.botonSlideInc{
	background-color:rgba(255,255,255,0) !important;
	height: 50px !important;
}

.opcionesEditarInc{
	border-bottom: 1px solid #189BB8 !important;
	height:77px !important;
	background-color:rgba(14, 38, 43, 1) !important;
}