


<ion-menu [content]="contenido">

  <ion-content class="fondoMenu">
      <ion-list class="menuOpciones">


          <button class="botonOpciones" *ngIf="(kindUser == 2000)" ion-item menuClose (click)="irAPagina(ams)">  <img class="iconoLateral" src="assets/images/usuariosBlanco.png" menu-toggle="left"/><span class="textoBoton"> Usuarios</span></button>
		  <!--<button *ngIf="typeUser == 2001" ion-item menuClose (click)="irAPagina(log)">  <img  width="20" height="20"  src="../../assets/icon/favicon.ico" menu-toggle="left"/> Logotipo</button>-->
          <button class="botonOpciones" ion-item menuClose (click)="cerrarSession(ams)">  <img  class="iconoLateral" src="assets/images/cerrarSesionBlanco.png" menu-toggle="left"/><span class="textoBoton"> Cerrar Sesión</span></button>

      </ion-list>
  </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #contenido></ion-nav>

