// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.subtituloSeccion{
	background-color:#083741;
	margin:0px !important;
	padding: 15px 20px;
	color:#fff;
	font-size:16pt;
}

.fondoContenido{
	background: linear-gradient(135deg, #083741 0%,#0E191B 100%);
}

.fondoMenu{
	background: linear-gradient(135deg, #189BB8 0%, #189BB8 50%, #083741 100%);
}

.menuOpciones{
	margin:100px 15px;
}

.botonOpciones{
	position:relative;
	color:#fff;
	width:250px;
	height:50px;
	margin-bottom:10px;
}

.iconoLateral{
	position:absolute;
	top:0px;
	width:30px;
	margin-right: 10px;
}

.textoBoton{
	position:absolute;
	top:7px;
	left:60px;
}

.listaUsuarios{
	background-color: rgba(255,255,255,0) !important;
	padding:0px !important;
}

.usuarioLista{
	position:relative;
	color:#fff !important;
	height:50px;
	width:100%;
	border-bottom: 1px solid #189BB8;
	margin: 10px 0px !important;
}

.opcionesEditar{
	border-bottom: 1px solid #189BB8 !important;
	height:60px !important;
}

.opcionesEditarGrupos{
	border-bottom: 1px solid #189BB8 !important;
	height:77px !important;
	background-color:rgba(255,255,255,0) !important;
}

.opcionesEditarIncidente{
	border-bottom: 1px solid #083741 !important;
	height:50px !important;
	background-color:rgba(255,255,255,0) !important;
}

.iconoUsuarioLista{
	position:absolute;
	width:35px;
	top:5px;
}

.textoUsuarioLista{
	position:absolute;
	top:10px;
	left:65px;
}

.usuario{
	font-weight:bold;
	color:#fff !important;
	font-size:12pt !important;
}
.item-inner{
	border-bottom:none !important;
}

.imagenPerfil{
	width:30% !important;
	margin:30px 35% 10px 35%;
}

.botonCentrado{
	width:40%;
	margin:10px 30%;
	padding:20px 0px !important;
	border-radius:50px !important;
}

.card-md{
	box-shadow:none !important;
}

.card-md, .item-md{
	background-color:rgba(255, 255, 255, 0) !important;
}

.barraBusqueda{
	width:80% !important;
	margin:20px 10% !important;
}

.searchbar-input{
	background-color:#189BB8 !important;
	border-radius:50px !important;
	color:#fff !important;
}

.searchbar-input::placeholder{
	color:#083741 !important;
}

.tarjetaResultado{
	background-color:#ddd;
	width:90%;
	height:auto;
	margin:5px 5%;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.grupoCard{
	text-align:right;
	margin:0px !important;
	width:100%;
	padding:5px 15px 5px 15px;
	color:#fff;
	background-color:#189BB8;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.tituloTag{
	color:#0E191B;
	font-weight:bold;
}

.subTituloTag{
	color:#fff;
	font-weight:bold;
}

.asuntoCard{
	color:#189BB8;
	background-color:#0E191B;
	margin:0px !important;
	padding:10px;
}

.mensajeCard{
	font-size:14pt;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin:0px !important;
    padding:0px;
}

.textoMensajeCard{
	margin:0px !important;
	padding:15px 5px;
	border-top:1px solid #aaa;
	color:#083741;
}

.label-md{
	margin:0px !important;
}

.item-block{
	min-height:10px !important;
}



.contenido{
	background: linear-gradient(135deg, #009bba 0%,#143570 100%);
	color: #fff !important;
}

.formulario{
	margin-top: 45px;
}

.campo{
	width: 80% !important;
    font-size: 14pt !important;
    line-height: 10pt;
    padding: 0px !important;
    font-weight: normal;
    background-color:rgba(255, 255, 255, .05) !important;
    margin-left: 10%;
    margin-bottom: 25px;
    color: #fff !important;
    border-bottom: 1px #fff solid !important;
}

.etiqueta{
	color: #fff !important;
	margin-left: 15px !important;
}

.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
    border-bottom-color: rgba(255,255,255,0) !important;
    box-shadow: none !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
    box-shadow: none !important;
}

.item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: rgba(255,255,255,0) !important;
  box-shadow: none !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.list-md .item-input.input-has-focus:last-child {
  box-shadow: none !important;
}

.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
  border-bottom-color: rgba(255,255,255,0) !important;
  box-shadow: none !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
  border-bottom-color: rgba(255,255,255,0) !important;
  box-shadow: none !important;
}

a[disabled], button[disabled], [ion-button][disabled] {
    cursor: default;
    opacity: 1;
    pointer-events: none;
}

.botonIngreso{
	z-index: 999999999 !important;
	color: #fff !important;
	background: linear-gradient(135deg, #009bba 0%,#143570 100%);
	width: 60%;
	height: 45px;
	margin-left: 20%;
	border-radius:50px;
}

.subtituloFormulario{
	color:#fff;
	margin:20px 0px 10px 0px !important;
	padding:10px !important;
	font-size:18pt;
	font-weight:700;
	width:100%;
	background-color:#189BB8;
}

.radioOpcion{
	color:#fff !important;
}

.radioOpcionSelector{
	background-color:#083741 !important;
}

.listaUsuarioGrupo{
	background-color:#10677A !important;
	margin-top:-10px;
}

.usuarioEnGrupo{
	color:#fff !important;
}

.iconoAceptar{
	width:20px !important;
}

.frameMensaje{
	border-radius:50px !important;
	margin-bottom:20px !important;
}

.cajaTexto{
	color:#083741 !important;
	font-size:14pt !important;
	border:1px solid #189BB8 !important;
	border-radius:50px;
	background-color:#fff !important;
}

.botonTransparente{
	background-color:rgba(255,255,255,0) !important;
	box-shadow:none !important;
	width:47% !important;
	margin:0px !important;
	padding:0px !important;
}

.botonTransparenteBottom{
	background-color:rgba(255,255,255,0) !important;
	box-shadow:none !important;
	margin:0px !important;
	padding:0px !important;
}

.iconoBoton{
	width:50px !important;
}

.botonSlide{
	background-color:rgba(255,255,255,0) !important;
	height: 50px !important;
}

.iconoSlide{
	width:40px !important;
}

.datosEdicion{
	margin-top:30px !important;
}

.usuarioIncidente{
	color:#fff !important;
	height:50px;
	border-bottom:1px solid #083741;
}

