<ion-header>
  <ion-navbar color="secondary">
      <ion-title>Editar Usuario</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="fondoContenido">

<ion-list class="datosEdicion">
    <ion-item class="campo">
        <ion-label class="etiqueta" floating>Alias</ion-label>
        <ion-input type="text" [(ngModel)]="nickname"></ion-input>
    </ion-item>
</ion-list>

  <ion-label class="subtituloFormulario">Perfil</ion-label>
     <ion-list radio-group [(ngModel)]="kindUser">
        <ion-item>
          <ion-label class="radioOpcion">Usuario regular</ion-label>
          <ion-radio class="radioOpcionSelector" value="normal" checked></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label class="radioOpcion">Administrador</ion-label>
          <ion-radio class="radioOpcionSelector" value="admin"></ion-radio>
        </ion-item>
      </ion-list>

  <div padding>
    <button class="botonIngreso" ion-button full clear favorite (click)="saveUser()">
        Actualizar</button>
  </div>

  <div padding>
    <button class="botonIngreso" ion-button full clear favorite (click)="updatePassword()">
        Cambiar Constraseña</button>
  </div>
</ion-content>
