

<ion-header>
  <ion-toolbar color='secondary'>
      <ion-buttons star>
      <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>

        <ion-title text-center>Conversaciones Recientes</ion-title>


  </ion-toolbar>
</ion-header>


<ion-content class="fondoContenido">
  <ion-list>
    <ion-item-sliding *ngFor="let isue of (issues | async)?.slice().reverse()"  >

      <ion-item class="enlaceConversa" *ngIf="(isue.status == true)" (click)="openChat(isue)">


        <ion-avatar item-left>
                <img src="assets/images/default.png">
        </ion-avatar>


         <h5 class="nombreGrupo">{{(isue)?.nameGroup}}</h5>

         <h3 class="nombreAsunto">{{(isue)?.nameIssue}}</h3>

        <h2 class="leido" *ngIf="isue.isRead == true">
           {{(isue)?.lastMessage}}
       </h2>
        <h2 class="noLeido" *ngIf="isue.isRead == false">
           <strong>
            {{(isue)?.lastMessage}}
           </strong>
       </h2>
      </ion-item>
      </ion-item-sliding>

    </ion-list>





</ion-content>
