.enlaceConversa{
	padding:5px 15px;
	background-color:#0E191B !important;
	border-bottom:1px solid #28484E !important;
}

.nombreGrupo{
	color:#189BB8 !important;
	font-size:12pt !important;
	font-weight:bold !important;
}

.nombreAsunto{
	color:#fff !important;
	font-size:11pt !important;
	font-weight:500 !important;
}

.leido{
	color:#bbb !important;
	font-size:15pt !important;
	font-weight:400 !important;
	padding:5px 0px;
}

.noLeido{
	color:#fff !important;
	font-size:15pt !important;
	font-weight:400 !important;
	padding:5px 0px;
}


