<ion-header>
     <ion-navbar color="secondary">

        <ion-buttons right>
            <button ion-button (click)="saveUsers()">
                <img class="iconoAceptar" src="assets/images/aceptar.png"/>
            </button>
        </ion-buttons>


        <ion-title>Incidente</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="fondoContenido">

<ion-label class="subtituloFormulario">Usuarios</ion-label>

<ion-list class="listaUsuarioGrupo">
    <span *ngFor="let user of usersNotInGroupDataObject">


    <a class="usuarioEnGrupo" ion-item  *ngIf="user.$key !== uid">
            <ion-label>{{user.email}}</ion-label>
            <ion-checkbox (ionChange)="agregarQuitarUsuario(user.$key);"></ion-checkbox>
    </a>
    </span>
</ion-list>
</ion-content>
