<ion-header>

    <ion-navbar color="secondary">

        <ion-buttons right>
            <button ion-button (click)="creaUsuario()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>Usuarios</ion-title>
    <!--
        <ion-buttons left>
            <button ion-button (click)="retorno()">
                <ion-icon name="return-left"></ion-icon>
            </button>
        </ion-buttons>
    -->


    </ion-navbar>

  </ion-header>


  <ion-content class="fondoContenido">

  <ion-searchbar placeholder="Buscar" class="barraBusqueda" [(ngModel)]="nombreUsuario" (ionInput)="busquedaUsuarios()"></ion-searchbar>
   <ion-list>
        <ion-item-sliding class="listaUsuarios" *ngFor="let user of listaUsuarios ">

            <ion-item class="usuarioLista" *ngIf="(user.$key !== uid) && (user.status)">
                <img class="iconoUsuarioLista" src="assets/images/usuarioBlanco.png"/>
                <h2 class="textoUsuarioLista">{{user.email}}</h2>
                <!--<p>{{item.tipoUsuario}}</p>-->


            </ion-item>
            <ion-item-options class="opcionesEditar" side="right">
                    <button class="botonSlide" (click)="editarUsuario(user)" ion-button><img class="iconoSlide" src="assets/images/editar.png"/></button>
                    <button class="botonSlide" (click)="eliminarUsuario(user)" ion-button><img class="iconoSlide" src="assets/images/basura.png"/></button>
            </ion-item-options>
        </ion-item-sliding>
   </ion-list>

   </ion-content>
