<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      Búsqueda de Mensajes
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="fondoContenido">

    <ion-searchbar placeholder="Buscar" class="barraBusqueda" [(ngModel)]="searchTerm" (ionInput)="getItems()"></ion-searchbar>

<ion-list>
    <span *ngFor="let item of listaGroupsMessages">

            <ion-list>
              <div class="tarjetaResultado">
                <h4 class="grupoCard"><span class="tituloTag">Grupo: </span>{{item.nameGroup}}</h4>
                <h6 class="asuntoCard"><span class="subTituloTag">Asunto: </span>{{item.nameIssue}}</h6>
                <ion-item class="mensajeCard" *ngFor="let message of item.messages"  (click)="openChat(item)">
                <div class="textoMensajeCard" ng-if="i">{{message.message}}</div>
                </ion-item>
                </div>




            </ion-list>








    </span>
</ion-list>

</ion-content>
