

<ion-header>
  <ion-navbar color="secondary">


    <ion-buttons right>
      <button ion-button (click)="createGroup()">
        <img class="iconoAceptar" src="assets/images/aceptar.png"/>
      </button>
    </ion-buttons>

     <ion-title>Crear Grupo</ion-title>
</ion-navbar>
</ion-header>

<ion-content class="fondoContenido">
  <div>
    <h2 class="subtituloFormulario">Información del Grupo</h2>
  </div>
      <ion-item class="campo">
            <ion-label class="etiqueta" floating>Nombre del Grupo</ion-label>
            <ion-input type="text" [(ngModel)]="nameGroup"></ion-input>
          </ion-item>

        
    <ion-label class="subtituloFormulario">Usuarios en el grupo</ion-label>
    <ion-list class="listaUsuarioGrupo">
      <span *ngFor="let user of users | async">


        <a class="usuarioEnGrupo" ion-item *ngIf="user.$key !== uid">
             <ion-label>{{user.email}}</ion-label>
             <ion-checkbox (ionChange)="agregarRemoverUsuario(user.$key);" *ngIf="user.$key !== uid"></ion-checkbox>

        </a>
      </span>
    </ion-list>





</ion-content>
