.chat-view{
  background-color:#0E191B !important;
  padding:0px !important;  
}

.sinFondo{
  background-color:rgba(0,0,0,1) !important;
}

.chat-view {
  .messages {
    width: 100% !important;
    position: absolute;
    padding:0px !important;
    top:0px !important;
    left:0px !important;
    .message {
      position:relative !important;
      min-width:20% !important;
      max-width: 70% !important;
      width:auto !important;
      padding: 15px !important;
      background-color: #189BB8 !important;
      color: #fff !important;
      border-radius: 150px !important;
      border: none !important;
      margin: 5px 10px !important;
      float: left !important;
      clear:both !important;
    }
    .message.me {
      float: right !important;
      background: #10677A !important;
      color: #fff !important;
      border: none !important;
      text-align:left !important;
    }
  }
}