<ion-header>
    <ion-navbar color="secondary">
        <ion-title>Cuenta</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="fondoContenido">
    <ion-list>
        <ion-card>
            <img class="imagenPerfil" *ngIf="!user.picture" src="assets/images/usuario.png"/>
            <img class="imagenPerfil" *ngIf="user.picture" src="{{user.picture}}"/>
        </ion-card>
        <ion-item>
          <button class="botonCentrado" ion-button (click)="sendPicture()" color="secondary">Foto de perfil</button>
        </ion-item>

    </ion-list>
</ion-content>
