.chat-view {
  background: #ece7e1;
  .messages {
    width: 100%;
    position: absolute;
    padding-right: 25px;
    
    .message {
      width: 70%;
      padding: 5px 10px;
      background: #fff;
      color: #222;
      border: 1px solid #cfcfcf;
      border-radius: 5px;
      margin: 5px;
      float: left;
    }
    .message.me {
      float: right;
      
      background: #e2ffc7;
      border: 1px solid #7f946b;
      color: #222;
      text-align: right;
    }
  }
}

$colors: (
  primary:    #488aff,
   erick: #e2ffc7,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  twitter: (
    base: #55acee,
    contrast: #ffffff
  )
);