<ion-header>
  <ion-navbar color="secondary">
    <ion-title>Mensajes</ion-title>    
  </ion-navbar>
</ion-header>


<ion-content padding class="chat-view" id="chat-view">
  <div class="messages">
      <div class="message" *ngFor="let chat of chats | async" [ngClass]="{'me': uid === chat.from}">
             <span *ngIf="chat.message"><a class="usuario">{{chat.nameFrom}}</a> - {{chat.message}}</span>
            <img *ngIf="chat.picture" src="{{chat.picture}}" class="picture">
      </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="secondary" class="frameMensaje">
    <ion-row>
        <ion-col width-60 [hidden]="!chats">
          <ion-input class="cajaTexto" type="text"  placeholder="Mensaje"
              [(ngModel)]="message">
          </ion-input>
      </ion-col>
      <ion-col width-20 [hidden]="!chats">
          <button class="botonTransparente" ion-button (click)="sendMessage()"><img class="iconoBoton" src="assets/images/enviar.png"/></button>
          <button class="botonTransparente" ion-button (click)="sendPicture()"><img class="iconoBoton" src="assets/images/camara.png"/></button>
      </ion-col>
      <ion-col width-10>
          <ion-spinner *ngIf="!(chats)"></ion-spinner>
      </ion-col>
    </ion-row>
    
  </ion-toolbar>
</ion-footer>
