

<ion-header>
  <ion-navbar color="secondary">




     <ion-title>Crear Incidente</ion-title>
</ion-navbar>
</ion-header>


<ion-content class="fondoContenido">
    <ion-grid>
        <ion-row>
            <ion-item class="campo">
                <ion-label class="etiqueta" floating>Nombre del Incidente</ion-label>
                <ion-input type="text" [(ngModel)]="nameIssue"></ion-input>
            </ion-item>
        </ion-row>
         <div padding>
             <button class="botonIngreso" ion-button (click)="createIssue()">
                        Guardar
                    </button>
           </div>
    </ion-grid>



</ion-content>
